@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --white: #fff;
  --navigation-button: #f0f0f0;
  --navigation-button-hover: #d8d7d7;
  --main-font-size: 20px;
  --main-font-size-mobile: 13px;
  --main-font-color: #f0f0f0;
  --border-color: #f0f0f0;
  --content-background-color: #89b8ff;
  --footer-font-size: 15px;
  /* --header-color: #00b8ba; */
  --header-color: #89b8ff;
  --mobile-navigation-hover: #009396;
  --footer-color: #003959;
  --footer-text: #87969e;
  --info-text-color: #87969e;
  --warning: #ff0000;
  --action-color: #ffd089;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--brand-color-main);
  max-width: -webkit-fill-available;
  width: 100%;
  overflow-x: hidden;
}

/* HEADER START */

header {
  background-color: var(--header-color);
  /* height: 500px; */
  /* background-image: url(../assests/imgs/header-curve.svg); */
}

header a {
  text-decoration: none;
  font-size: var(--main-font-size);
  color: var(--navigation-button);
}

header a:hover {
  color: var(--navigation-button-hover);
}

.desktop-header {
  display: flex;
  align-items: flex-end;
}

.desktop-header img {
  padding: 24px;
}

.desktop-header ul {
  list-style: none;
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 20px;
  gap: 2em;
  padding-right: 24px;
}

.desktop-header ul > li {
  font-size: var(--main-font-size);
}

.mobile-header {
  display: none;
}

.actionButton {
  padding: 10px;
  background-color: var(--action-color);
  border-radius: 10%;
  border: 1px solid #333;
  color: var(--footer-color);
}

.actionButton:hover {
  opacity: 0.75;
  color: #000;
}

/* HEADER END */

/* CONTAINER */

body p {
  font-size: large;
}

p > a {
  font-weight: 600;
}

.section-intro {
  display: grid;
  grid-template-areas:
    "intro-title intro-title"
    "intro-image intro-paragraph";
  grid-template-columns: 1fr 2fr;
  grid-area: auto;
  height: fit-content;
  gap: 20px;
  padding: 24px;
  margin: 10px 0;
}

.intro-title {
  grid-area: intro-title;
  justify-self: center;
}

.intro-image {
  grid-area: intro-image;
  place-items: center;
}

.intro-image img {
  max-width: 100%;
  padding: auto 24px;
  height: 432px;
  border-radius: 10%;
  object-fit: cover;
}

.intro-paragraph {
  grid-area: intro-paragraph;
  /* color: var(--info-text-color); */
  font-size: 20px;
}

.section-service-breakdown {
  display: grid;
  grid-template-areas:
    "service-title service-title"
    "service-paragraph service-image";
  grid-template-columns: 1fr 1fr;
  grid-area: auto;
  height: fit-content;
  gap: 20px;
  padding: 24px;
  margin: 10px 0;
}

.service-title {
  grid-area: service-title;
  justify-self: center;
}

.service-image {
  grid-area: service-image;
}

.service-image img {
  max-width: 100%;
  padding: auto 24px;
  border: 1px solid var(--action-color);
  margin: auto;
  height: 486px;
  border-radius: 10%;
  object-fit: cover;
  place-items: center;
}

.service-paragraph {
  grid-area: service-paragraph;
  font-size: 20px;
}

.section-contact-us-anchor {
  padding: 24px;
  border: 1px solid #333;
  width: 50%;
  justify-content: space-around;
  display: flex;
  margin: auto;
  margin-top: 5em;
}

.about-us-content {
  padding: 24px;
}

.about-us-content h1 {
  text-align: center;
}

.about-us-content p {
  line-height: normal;
  font-size: large;
  margin: 50px auto;
}

/* TABLE DESIGN */

.home-services {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 50px auto;
  padding: 24px;
  gap: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: var(--header-color);
  height: 670px;
  position: relative;
}

.card h1 {
  line-break: strict;
}

.card img {
  height: 300px;
  width: 300px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  object-fit: cover;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: var(--action-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card a {
  text-decoration: none;
  color: var(--footer-color);
}

.card button:hover {
  opacity: 0.7;
  color: var(--info-text-color);
}

/* TABLE DESIGN END */

/* CONTAINER END */

/* FOOTER */

footer {
  margin-top: 5em;
  background-color: var(--footer-color);
  color: var(--footer-text);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(1fr 3);
  grid-template-areas: "footer-left footer-center footer-right";
  grid-area: auto;
  justify-content: space-evenly;
  font-size: var(--footer-font-size);
  text-align: center;
  align-items: center;
  padding: auto 24px;
}

.footer-left {
  padding: 20px;
  pointer-events: none;
  grid-area: footer-left;
}

.footer-center {
  grid-area: footer-center;
  justify-content: center;
}

.footer-center h3 {
  /* padding: 24px auto; */
  transform: translateX(10%);
}

.footer-center ul {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.footer-center ul > li > a > img {
  position: inherit;
  height: 50px;
  width: 50px;
}

.footer-right {
  padding: 20px;
  grid-area: footer-right;
}

.footer-right p {
  transition: all 1s ease-in-out;
  color: var(--footer-text);
}

footer a {
  text-decoration: none;
  color: var(--footer-text);
}

.footer-right p:hover {
  color: var(--navigation-button-hover);
  font-size: calc(var(--footer-font-size) + 5px);
  transition: all 1s ease-in-out;
  color: var(--navigation-button-hover);
  text-decoration: underline 1px var(--border-color);
}

/* FOOTER END */

/* CONTACT US PAGE */

/* Main Text Area */

.form-information {
  padding: 24px;
  /* color: var(--info-text-color); */
}

.emergency-statement {
  padding: 24px;
  /* color: var(--info-text-color); */
}

/* FORM STYLE*/
input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  resize: auto;
  font-size: large;
  left: 50%;
}

input[type="email"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  resize: auto;
  font-size: large;
  left: 50%;
}

form select,
option {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  resize: auto;
  width: fit-content;
}

input[type="number"],
select {
  appearance: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
  align-items: center;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  padding: 12px 20px;
  margin: 8px 0;
  cursor: pointer;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--footer-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

input[type="button"] {
  background-color: var(--footer-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  transition-duration: 1s;
}

input[type="button"]:hover {
  background-color: var(--header-color);
  transition-duration: 1s;
  color: #000000;
}

input[type="submit"]:hover {
  background-color: var(--header-color);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: var(--footer-color);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.form-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #bfbdbd, 0px 0px 20px #000000;
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
  color: black;
  align-items: center;
  margin: 10px auto;
  transition: 1s ease-in-out;
}

/* .form-container:hover {
  box-shadow: none;
  transition: 1s ease-in-out;
} */

.form-group input {
  align-items: center;
  margin: 0 auto;
  display: flex;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  resize: auto;
  font-size: large;
  left: 50%;
  width: 50%;
  resize: vertical;
  margin-bottom: 50px;
}

form h5 {
  font-size: large;
}

.required::before {
  content: "*";
  color: var(--warning);
}

.redir-container {
  height: 100%;
  /* margin: auto; */
  text-align: center;
  vertical-align: middle;
  margin-top: 20%;
  padding: 24px;
}

.redir-container h1 {
  font-size: 60px;
}

.redir-container p {
  font-size: 25px;
}

.thanks-body {
  background-image: url(../assests/imgs/backgroundBlue.jpg);
}

/* CONTACT US PAGE END */

/* Service Styles */

.service-header {
  text-align: center;
}

.service-container {
  /* color: var(--info-text-color); */
  text-align: center;
  padding: 24px;
}

.service-container img {
  padding: 24px;
}

.service-container p {
  padding: 24px;
  font-size: large;
}

.service-container .multi-img {
  display: flex;
  justify-content: space-around;
}

/* Scroll Effects */

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 10vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transform: none;
  }
}

.card:nth-child(2) {
  transition-delay: 200ms;
}
.card:nth-child(3) {
  transition-delay: 300ms;
}
.card:nth-child(4) {
  transition-delay: 400ms;
}
.card:nth-child(5) {
  transition-delay: 500ms;
}
.card:nth-child(6) {
  transition-delay: 600ms;
}
.card:nth-child(7) {
  transition-delay: 700ms;
}
.card:nth-child(8) {
  transition-delay: 800ms;
}
.card:nth-child(9) {
  transition-delay: 900ms;
}

/* Scroll Effects END */

/* Service Styles End */

@media (max-width: 767px) {
  body,
  header,
  .body-content,
  .sub-body-content,
  footer {
    width: 100vw;
    width: -webkit-fill-available;
  }

  header {
    height: 120px;
    margin-bottom: 20px;
    display: none;
  }

  .mobile-header {
    display: block;
    color: var(--footer-color);
    font-size: large;
    padding-left: 24px;
  }

  .desktop-header {
    display: none;
  }

  .navigation {
    display: none;
  }

  .logo {
    display: none;
  }

  .navbar {
    display: block;
  }

  .body-content {
    margin-top: 0;
    display: block;
    padding: 0 24px;
    font-size: var(--main-font-size-mobile);
    background-color: #fff;
    color: #333;
    border: none;
  }

  .service-image video {
    height: auto;
  }

  .intro-image img {
    height: auto;
  }

  .text-content {
    padding: 0 15px;
  }

  .sub-body-content {
    padding: auto 24px;
    font-size: var(--main-font-size-mobile);
  }

  .side-content img {
    width: 50vw;
  }

  .footer {
    display: block;
  }

  .footer-container {
    justify-content: space-between;
    display: block;
  }

  .footer-center {
    display: inline-block;
    transform: translateX(-10%);
  }

  .section-intro {
    display: block;
  }

  .section-service-breakdown {
    display: block;
  }
  /* Mobile Menu */

  .mobile-header {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .mobile-navigation {
    overflow: hidden;
    background-color: var(--header-color);
    position: relative;
    display: block;
  }

  .mobile-navigation a > img {
    width: 20%;
    height: 20%;
    padding-right: 0;
    margin-right: 0;
  }

  .mobile-navigation #myLinks {
    display: none;
  }

  .mobile-navigation a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .mobile-navigation a.icon {
    background: var(--header-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mobile-navigation a:hover {
    background-color: var(--mobile-navigation-hover);
    color: black;
  }

  .active {
    background-color: var(--header-color);
    color: white;
  }

  /* FORM */

  .form-group input,
  textarea {
    width: 90%;
  }

  .form-container {
    width: 70vw;
  }

  .redir-container p {
    font-size: 15px;
  }

  .service-container {
    display: block;
  }

  .service-container img {
    display: block;
    width: 90%;
  }

  .service-container .multi-img {
    display: block;
  }

  .section-contact-us-anchor {
    display: block;
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body,
  header,
  .body-content,
  .sub-body-content,
  footer {
    width: 100vw;
    width: -webkit-fill-available;
  }

  header {
    height: 120px;
    margin-bottom: 20px;
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .desktop-header {
    display: block;
    color: var(--footer-color);
    font-size: large;
    padding-left: 24px;
  }

  .navigation {
    display: block;
  }

  .logo {
    display: block;
  }

  .navbar {
    display: none;
  }

  .body-content {
    margin-top: 0;
    display: block;
    padding: 0 24px;
    font-size: var(--main-font-size-mobile);
    background-color: #fff;
    color: #333;
    border: none;
  }

  .service-image video {
    height: auto;
  }

  .intro-image img {
    height: auto;
  }

  .text-content {
    padding: 0 15px;
  }

  .sub-body-content {
    padding: auto 24px;
    font-size: var(--main-font-size-mobile);
  }

  .side-content img {
    width: 50vw;
  }

  .footer {
    display: block;
  }

  .footer-container {
    justify-content: space-between;
    display: block;
  }

  .footer-center {
    display: inline-block;
    transform: translateX(-10%);
  }

  .section-intro {
    display: block;
  }

  .section-service-breakdown {
    display: block;
  }

  /* Mobile Menu */

  .mobile-header {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .mobile-navigation {
    overflow: hidden;
    background-color: var(--header-color);
    position: relative;
    display: block;
  }

  .mobile-navigation a > img {
    width: 20%;
    height: 20%;
    padding-right: 0;
    margin-right: 0;
  }

  .mobile-navigation #myLinks {
    display: none;
  }

  .mobile-navigation a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .mobile-navigation a.icon {
    background: var(--header-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mobile-navigation a:hover {
    background-color: var(--mobile-navigation-hover);
    color: black;
  }

  .active {
    background-color: var(--header-color);
    color: white;
  }

  .navbar {
    display: block;
    overflow: hidden;
    background-color: var(--header-color);
    position: relative;
    display: block;
  }

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: var(--mobile-navigation-hover);
    color: black;
  }

  .navbar a.icon {
    display: none;
  }

  .active {
    background-color: var(--header-color);
    color: white;
  }

  /* FORM */

  .form-group input,
  textarea {
    width: 90%;
  }

  .form-container {
    width: 70vw;
  }

  .redir-container p {
    font-size: 15px;
  }

  .service-container {
    display: block;
  }

  .service-container img {
    display: block;
    width: 90%;
  }

  .service-container .multi-img {
    display: block;
  }

  .section-contact-us-anchor {
    display: block;
    width: 70%;
  }
}
